body
{
    background-color: white;     
    color: black;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-family:  "Arial", Arial, Verdana, sans-serif, Impact;
}



ul {
    padding:0;
    margin:0;
    list-style-type:none;
    }
   li {
    /* float:left; pour IE */
    display: inline-block;
    /* border-left:1px solid black; */
    }
   ul li a {
    display:block;
    /* float:left;    */
    width:100px;
    line-height:50px; /*hauteur de l'image de fond*/
    background: black;
    color:#DCDCDC;
    text-decoration:none;
    text-align:center;
    }
   ul li a:hover {
    background: orange;
    color:white;
    }  

    body{
        text-align: center;
        align-items: center;
    }

 #deconn {

    color: blue;
    text-decoration: none;
    text-decoration: underline;
 }

 #deconn:hover
 {  
    color: black;
    text-decoration: none;
 }

.container
{

    margin-left: 37%;
}

