body
{
    background-color: #797676;   
    color: white;
    margin: 0;
}

#index
{
    height: 50vh;
    text-align: center;
    margin-top: 20%;
    font-size: 140%;
}

h1 {
    font-family:  "Arial Black", Arial, Verdana, sans-serif, Impact;
}

ul
{
    background-color: #C9C9C9;
    text-align: center;
}   

li
{
    display: inline-block;
    padding: 1em;
}

a:hover
{
    color:black;
}

a
{
    text-decoration: none;
    color: white;
}

#currentpage
{
    background: #696969;
}


#titre
{
    text-align: center;
}

#contenu
{
    margin: 15px;
}

.photoJo
{
    width: 200px;
    height: 266px;
    margin-right: 0px;
    float: right;
}

.photograph
{
    width: 200px;
    height: 266px;
}

.volley
{
    width: 376px;
    height: 211px;
}

.avion
{
    width: 384px;
    height: 288px;
}

#footer
{
    background-color: #C9C9C9;
    
}

